<app-menu></app-menu>

<p>Bienvenu(e) sur Mobideal </p>
<img src="./assets/img/whale-home.png">
<p class="mat-display-1">Les bons deals shopping et événements culturels.</p>
<form [formGroup]="villeForm" (ngSubmit)="recherche()">
    <mat-form-field>
        <mat-label>Ville</mat-label>
        <select matNativeControl required formControlName="ville">
                <option value="Lille">Lille</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>                
        </select>
    </mat-form-field>
    <button class="voirdeal" mat-raised-button type="submit" color="primary">Voir les deals</button>
</form>
<hr>
<p>
    <strong>Professionnels</strong>, diffusez vos deals. <strong>Particuliers</strong>, recevez des notifications.


    
    <button class="voirdeal" type="submit" color="primary" mat-button [matMenuTriggerFor]="menuco" >S'inscrire</button></p>
    <mat-menu #menuco="matMenu">
        <button mat-menu-item  (click)="inscriptionParticulier()">Particulier</button>
        <button mat-menu-item  (click)="inscriptionProfessionnel()">Professionnel</button>
        
    </mat-menu>