.example-form {
    margin-top: +80px;
}

.example-full-width {
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.example-button-row button,
.example-button-row a {
    margin-right: 8px;
    color: rgb(252, 252, 252);
    background-color: rgb(54, 54, 209);
}

.mat-raised-button {
    background-color: #08B7FC !important;
}

.detail {
    width: 60%;
    margin: 0 auto;
}