<br>
<br>
<div>
    <p class="mat-display-1">Inscription particulier </p>
    <a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>

    <form class="example-form" [formGroup]="utilisateursForm" (ngSubmit)="envoyer()">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="nom" placeholder="nom" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="prenom" placeholder="prénom" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="adresse" placeholder="adresse" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="telephone" placeholder="téléphone" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="mail" placeholder="mail" type="email" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="password" placeholder="password" type="password" required>
        </mat-form-field>
        <div class="example-button-row">
            <button mat-raised-button type="submit" color="primary">Valider</button>
        </div>
    </form>
</div>
<div>
</div>