<app-menu></app-menu>
<div class="detail">
    <br><br>
    <p class="mat-display-1 ">{{evenement.nom}} </p>

    <p><strong>{{evenement.professionnel.nom}}</strong> | {{evenement.tag}} | {{evenement.professionnel.adresse}}</p>
    <hr>
    <div class="left" [innerHTML]="contenu"></div>

    <hr class="hrDetail">
    <p class="basDetail">Début: <strong>{{evenement.dateDebut}}</strong> Fin: <strong>{{evenement.dateFin}}</strong> </p>

    <div class="box" *ngFor="let lien of liens;">
        <a class="social" href="{{lien}}">{{lien}}</a><br>
    </div>
    <hr>
    <a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>
    <br><br>


</div>