<app-menu></app-menu>
<div class="detail">
    <form class="example-form" [formGroup]="creationForm" (ngSubmit)="modifier()">

        <mat-form-field class="example-full-width">
            <mat-label>Titre du deal</mat-label>
            <input matInput formControlName="nom" [(ngModel)]="evenement.nom">
        </mat-form-field>

        <mat-radio-group formControlName="tag" class="example-radio-group" aria-labelledby="example-radio-group-label" [(ngModel)]="evenement.tag">
            <label id="example-radio-group-label"></label>
            <mat-radio-button class="example-radio-button" value="spectacle">
                Spectacle
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="mode">
                Mode
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="restauration">
                Restauration
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="bar">
                Bar
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="example-full-width">
            <mat-label>Ville</mat-label>
            <select matNativeControl required formControlName="lieu">
                    <option value="Lille">Lille</option>
                    <option value="Paris">Paris</option>
                    <option value="Lyon">Lyon</option>                
            </select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Date de début</mat-label>
            <input matInput type="date" min="2000-01-01" max="2050-12-31" formControlName="dateDebut" [(ngModel)]="evenement.dateDebut">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Date de fin</mat-label>
            <input matInput type="date" min="2000-01-01" max="2050-12-31" formControlName="dateFin" [(ngModel)]="evenement.dateFin">

        </mat-form-field>

        <angular-editor matInput formControlName="contenu" [config]="editorConfig" [(ngModel)]="evenement.contenu"></angular-editor>

        <br><br>
        <div class="example-button-row">
            <button mat-raised-button type="submit" color="primary">Modifier</button>
        </div>

        <br><br>
    </form>
</div>