<app-menu></app-menu>
<div class="detail">
    <br><br>
    <p class="mat-display-1 ">{{evenement.nom}} </p>

    <p><strong>{{evenement.professionnel.nom}}</strong> | {{evenement.tag}} | {{evenement.professionnel.adresse}}</p>
    <hr>
    <div class="left" [innerHTML]="contenu"></div>
    <hr class="hrDetail">
    <p class="basDetail">Début: <strong>{{evenement.dateDebut}}</strong> Fin: <strong>{{evenement.dateFin}}</strong> </p>

    <hr>
    <button type="button" class="voirdeal" mat-raised-button (click)="supprimer()">Supprimer</button>
    <button type="button" class="voirdeal espace" mat-raised-button (click)="modification()">Mettre à jour</button>

</div>