.detail {
    width: 60%;
    margin: 0 auto;
}

.basDetail {
    margin-top: 3em;
    color: #A9A9A9;
    font-size: smaller;
    text-align: left;
    text-decoration: underline;
}

.box {
    text-align: left;
}

.espace {
    margin-left: 2em;
}