<br>
<br>
<!-- <(particulier)-->
<p class="mat-display-1">Profil </p>
<form class="example-form" [formGroup]="utilisateursForm" (ngSubmit)="modifier()">
    <mat-form-field class="example-full-width">
        <input matInput formControlName="nom" [(ngModel)]="utilisateur.nom">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="prenom" [(ngModel)]="utilisateur.prenom">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="adresse" [(ngModel)]="utilisateur.adresse">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="telephone" [(ngModel)]="utilisateur.telephone">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="mail" [(ngModel)]="utilisateur.mail" type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="password" [(ngModel)]="utilisateur.password" type="password">
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button type="submit" color="primary">Mettre à jour</button>
        <button class="espace" mat-raised-button type="button" color="primary" (click)="supprimer()">Supprimer</button>
    </div>





</form>