.liste {
    list-style: none;
}

.btnsupp {
    margin-left: 2em;
    margin-bottom: 2em;
}

.favori {
    color: #08B7FC;
    text-decoration: none;
    font-size: x-large;
    text-align: left;
}