<app-menu></app-menu>
<br>
<br>
<p class="mat-display-1">Favoris </p>
<a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>
<br><br>
<p *ngIf="vide">Pour ajouter vos favoris, faites votre sélection dans la rubrique <strong>recherche</strong> de votre <strong>menu</strong>.<br><br>En cliquant sur le nom du <strong>mobidealer</strong>, vous accéderez à cette option.</p>
<ul>
    <li class="liste" *ngFor="let professionnel of professionnels; let index = index;">
        <a class="favori" [routerLink]="['/professionnel/',professionnel.id]">{{professionnel.nom}}</a>
        <button class="voirdeal btnsupp" mat-raised-button type="button" (click)="supprimer(index)">Supprimer</button>
        <button class="voirdeal btnsupp" mat-raised-button type="button">Mettre en pause</button>        
    </li>

</ul>