<app-menu></app-menu>
<br>
<br>
<p class="mat-display-1">{{professionnel.nom}} </p>


<a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>
<br><br>
<div class="soixante">

    <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <ng-container class="left" matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Deal </th>
            <td mat-cell *matCellDef="let evenement"> <a class="deal" [routerLink]="['/detail/',evenement.id]">{{evenement.nom}}</a> </td>
        </ng-container>
        <!--
        <ng-container matColumnDef="contenu">
            <th mat-header-cell *matHeaderCellDef> Contenu </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.contenu}} </td>
        </ng-container>

        <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.tag}} </td>
        </ng-container>
        -->

        <ng-container matColumnDef="dateDebut">
            <th mat-header-cell *matHeaderCellDef> Date debut </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.dateDebut}} </td>
        </ng-container>

        <ng-container matColumnDef="dateFin">
            <th mat-header-cell *matHeaderCellDef> Date fin </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.dateFin}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br> <br>
    <button mat-raised-button type="button" (click)="ajouter()">Ajouter ce mobidealer à vos favoris</button><br><br>
</div>