p {
    text-align: center;
}

table {
    width: 100%;
    text-align: left;
}

.deal {
    color: #08B7FC !important;
    font-size: x-large;
    text-decoration: none !important;
}

.mat-snack-bar-container {
    background-color: #08B7FC !important;
}