<app-menu></app-menu>
<app-liste-pro></app-liste-pro>
<br>
<p><a class="inscription lien" routerLink="/creation">Créer un deal</a></p>
<div><br><br>
    <a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>
    <br><br>
</div>