.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: 0px;
}

.example-full-width {
    width: 100%;
}

.espace {
    margin-left: 2em;
}