<br>
<!--(compte professionnel)-->
<br>
<p class="mat-display-1">Profil </p>
<a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>
<br><br>
<form class="example-form" [formGroup]="professionnelsForm" (ngSubmit)="modifier()">
    <mat-form-field class="example-full-width">
        <input matInput formControlName="nom" [(ngModel)]="professionnel.nom">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="mail" [(ngModel)]="professionnel.mail" type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="telephone" [(ngModel)]="professionnel.telephone">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="adresse" [(ngModel)]="professionnel.adresse">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName=lienPersonnel [(ngModel)]="lien">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="lienFacebook" [(ngModel)]="facebook">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="lienTwitter" [(ngModel)]="twitter">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="password" [(ngModel)]="professionnel.password" type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="secteurActivite" [(ngModel)]="professionnel.secteurActivite">
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button type="submit" color="primary">Mettre à jour</button>
        <button class="espace" mat-raised-button type="button" color="primary" (click)="supprimer()">Supprimer</button>
    </div>
    <br>

</form>