.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    position: relative;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    // margin-top: +100px;
}

.example-full-width {
    width: 100%;
}