<br>
<br>
<p class="mat-display-1">Inscription Professionnel </p>
<a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>

<form class="example-form" [formGroup]="professionnelsForm" (ngSubmit)="envoyer()">
    <mat-form-field class="example-full-width">
        <input matInput formControlName="nom" placeholder="nom" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="mail" placeholder="mail" type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="telephone" placeholder="téléphone" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="adresse" placeholder="adresse" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName=lienPersonnel placeholder="website">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="lienFacebook" placeholder="facebook">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="lienTwitter" placeholder="twitter">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="password" placeholder="password" type="password" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="secteurActivite" placeholder="secteur d'activité" required>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button type="submit" color="primary">S'inscrire</button>
    </div>
    <br>

</form> <br> <br>