.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: +100px;
}

.example-full-width {
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.example-button-row button,
.example-button-row a {
    margin-right: 8px;
    color: white;
    background-color: #08B7FC;
}

table {
    margin-top: +80px;
    width: 100%;
}

.mat-table a {
    color: #08B7FC;
}

.mat-cell {
    text-align: left;
}

.large {
    font-size: x-large;
    text-decoration: none;
}

.dealer {
    text-decoration: none;
}