<br><br>
<p class="mat-display-1">Recherche</p>

<form class="example-form" [formGroup]="rechercheForm" (ngSubmit)="recherche()">

    <mat-radio-group formControlName="tag" class="example-radio-group" aria-labelledby="example-radio-group-label">
        <label id="example-radio-group-label"></label>
        <mat-radio-button class="example-radio-button" value="spectacle">
            Spectacle
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="mode">
            Mode
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="restauration">
            Restauration
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="bar">
            Bar
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="example-full-width">
        <mat-label>Ville</mat-label>
        <select matNativeControl formControlName="lieu">
                    <option value="Lille">Lille</option>
                    <option value="Paris">Paris</option>
                    <option value="Lyon">Lyon</option>                
            </select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input matInput type="date" min="2000-01-01" max="2050-12-31" formControlName="date" placeholder="date de commencement">
    </mat-form-field>

    <div class="example-button-row">
        <button mat-raised-button type="submit" color="primary">Rechercher</button>
    </div>
    <br>
    <br>

</form>
<div class="soixante">
    <table mat-table [dataSource]="data" class="mat-elevation-z8" *ngIf="affichage">

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let evenement"> <a class="large" [routerLink]="['../detail/',evenement.id]">{{evenement.nom}}</a> </td>
        </ng-container>



        <ng-container matColumnDef="professionnel">
            <th mat-header-cell *matHeaderCellDef> mobidealer </th>
            <td mat-cell *matCellDef="let evenement"> <a class="dealer" [routerLink]="['../professionnel/',evenement.professionnel.id]">{{evenement.professionnel.nom}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.tag}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br><br>
    <a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>

    <br><br>
</div>