table a {
    color: #08B7FC;
    font-size: 2em;
    text-decoration: none;
}

table {
    width: 70%;
    margin: auto;
}

th.mat-header-cell {
    text-align: center;
}

td {
    text-align: center;
}