<br><br>
<p class="mat-display-1">Deals et événements de <strong>{{lieu}}</strong></p>
<div>
    <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let evenement"> <a [routerLink]="['../detail/',evenement.id]">{{evenement.nom}} </a> </td>
        </ng-container>

        <ng-container matColumnDef="professionnel">
            <th mat-header-cell *matHeaderCellDef> Mobidealer </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.professionnel.nom}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div><br>
<p><strong>Particuliers</strong>, pensez à vous inscrire pour recevoir les notifications push de vos favoris.</p>
<hr>
<a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>
<br><br>