<br>
<br>
<p class="mat-display-1">Deals </p>
<div class="soixante">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Titre du deal </th>
            <td mat-cell *matCellDef="let evenement"> <a class="titre" [routerLink]="['../detailPro/',evenement.id]">{{evenement.nom}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.tag}} </td>
        </ng-container>

        <ng-container matColumnDef="dateDebut">
            <th mat-header-cell *matHeaderCellDef> Date debut </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.dateDebut}} </td>
        </ng-container>

        <ng-container matColumnDef="dateFin">
            <th mat-header-cell *matHeaderCellDef> Date fin </th>
            <td mat-cell *matCellDef="let evenement"> {{evenement.dateFin}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>