.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: +100px;
}

.example-full-width {
    width: 100%;
}

.example-button-row button,
.example-button-row a {
    margin-right: 2em;
    color: rgb(252, 252, 252);
    background-color: #08B7FC;
}