    /* You can add global styles to this file, and also import other style files */
    
    @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
    html,
    body {
        height: 100%;
    }
    
    body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        text-align: center;
    }
    
    .mat-fab.mat-primary,
    .mat-flat-button.mat-primary,
    .mat-mini-fab.mat-primary,
    .mat-raised-button.mat-primary {
        background-color: #08B7FC;
    }
    
    .mat-fab,
    .mat-flat-button,
    .mat-mini-fab,
    .mat-raised-button {
        background-color: #08B7FC;
        color: white;
    }
    
    hr {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    .hrDetail {
        margin-top: 3em;
        margin-bottom: 0;
    }
    
    .social {
        color: #08B7FC;
        text-decoration: none;
    }
    
    .inscription {
        color: #08B7FC;
    }
    
    .detailContenu {
        font-size: x-large;
        text-align: left;
    }
    
    .soixante {
        width: 60%;
        margin: 0 auto;
    }
    
    .left {
        text-align: left;
    }