<mat-toolbar id="toolbar">

    <span> <a class="home" [routerLink]="['/accueil']">Mobideal</a></span>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menuco" class="menu" *ngIf="connexion">Connexion</button>
    <mat-menu #menuco="matMenu">
        <button mat-menu-item (click)="connexionParticulier()">Particulier</button>
        <button mat-menu-item (click)="connexionProfessionnel()">Professionnel</button>

    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu" class="menu" *ngIf="!connexion">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profil']">Profil</button>
        <button mat-menu-item [routerLink]="['/favoris']" *ngIf="particulier">Favoris</button>
        <button mat-menu-item [routerLink]="['/recherche']" *ngIf="particulier">Recherche</button>
        <button mat-menu-item [routerLink]="['/affichagePro']" *ngIf="professionnel">Deals</button>
        <button mat-menu-item (click)="deconnexion()">Deconnexion</button>

    </mat-menu>

</mat-toolbar>