<br><br>
<p class="mat-display-1">Professionnels</p>

<form class="example-form" [formGroup]="connecteForm" (ngSubmit)="connexion()">
    <mat-form-field class="example-full-width">
        <input matInput formControlName="mail" placeholder="mail" type="email" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput formControlName="password" placeholder="password" type="password" required>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button type="submit">Connexion</button>
    </div>
</form>
<hr>
<p>
    <strong>Professionnels</strong>, envoyez des notifications push à des clients qui entrent dans votre zone de chalandise grace à <strong>mobideal</strong>.
</p>
<a class="inscription" routerLink="../inscription">Je m'inscris de suite</a>
<br><br>
<a [routerLink]="['/accueil']" routerLinkActive="router-link-active"><img src="./assets/img/whale-bas.png"></a>
<br><br>